* {
  font-family: sans-serif;
  font-weight: 400;
}
body {
  max-width: 1300px;
  margin: auto;
}
.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.main_container > div {
  height: 700px;
}
.main_container .logo {
  color: white;
  background-color: black;
  text-align: center;
}
.main_container .logo h2 {
  padding: 64px 0 64px 0;
  font-size: 36px;
}
.main_container .logo > div {
  display: block;
  padding: 64px 0;
}
.main_container .logo > div a {
  display: block;
  margin: 0 10px;
  color: white;
  line-height: 3.5;
  text-decoration: none;
}
.main_container .logo > div a:hover {
  background-color: gray;
}
.main_container .logo > div .gray:hover {
  background-color: #607d8b;
}
.main_container .logo > div .work1:hover {
  background-color: #009688;
}
.main_container .logo > div .contact1:hover {
  background-color: #7e5842;
}
.main_container .work {
  color: black;
  background-color: #f1f1f1;
}
.main_container .about {
  color: white;
  background-color: #607d8b;
}
.main_container .resume {
  color: white;
  background-color: #3f51b5;
}
.main_container .swing {
  color: white;
  background-color: #616161;
}
.main_container .contact {
  color: white;
  background-color: #009688;
}
.main_container .about {
  text-align: center;
}
.main_container .about h2 {
  padding-top: 64px;
  font-size: 36px;
}
.main_container .about img {
  border-radius: 50%;
  width: 50%;
  margin-bottom: 24px;
}
.main_container .about p {
  max-width: 550px;
  margin: 0px 75px;
  text-align: left;
  line-height: 1.5;
}
.main_container .work {
  text-align: center;
}
.main_container .work h2 {
  padding-top: 48px;
  font-size: 36px;
}
.main_container .work .images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main_container .work .images > img {
  width: 100%;
}
.main_container .work p {
  margin-top: 24px;
}
footer {
  padding: 60px;
  background-color: black;
}
